html {

    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.4s ease;
}

/*Modo oscuro*/

body.dark-mode form {
    background-color:#121212 !important;
    }

/*Fin del modo oscuro*/

/* INICIO ESTILOS GLOBALES NAVBAR */

nav.navbar {
    background: rgba(53, 73, 125, 1) !important;
    position: relative !important;
    display: flex !important;
    color: #f3e7e7 !important;

    box-shadow: 0 0.25rem 0.5rem rgba(21, 57, 78, 0.651);
    padding: 0rem !important;

}

nav.navbar .navbar-nav .nav-link {
    color: #fffefe !important;
    padding: 1rem !important;
}

nav .navbar-nav .nav-link:hover {

    color: #212a47 !important;
    background-color: #8bb8c0;
    border-radius: 0.3125rem;
}

/*menu hamburguesa */
.navbar-toggler {
    color: #fff !important;
}

/* Estilos del iconos carrito y notificaciones */
i {
    color: #ffffff !important;
    font-size: 1rem;
    padding: .5rem !important;
    border-radius: 1rem;
    border-color: #000000;

}

/*estilos de flechitas de menu desplegables en iconos*/

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    color: #fff;

}

/*img de usario*/
#img_princ {
    position: relative;
    width: 100%;
    height: 100%;
}

/*estilos del nombre de usuario*/
#username {
    color: #ffffff;
    padding: .3rem;
    margin-right: 1rem;
}

/*FIN ESTILOS NAVBAR*/

/* Pantallas pequeñas, smartphones */
@media (min-width: 320px) and (max-width: 992px) {
    html {
        scroll-behavior: smooth;
        padding: 0 !important;
        margin: 0 !important;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box !important;
    }

    /* Ajustes de la navbar */
    .navbar-collapse {
        width: auto;
        background: rgba(53, 73, 125, 1) !important;
        position: absolute;
        top: 100%;
        left: 0;
        min-height: 40vh;
        z-index: 1000;

    }

    i {
        background-color: transparent;
    }

    nav.navbar {
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        position: relative !important;
        padding-bottom: 0 !important;
        background: rgba(53, 73, 125, 1) !important;
        box-shadow: 0 0.25rem 0.5rem rgba(21, 57, 78, 0.651);

    }


    button.navbar-toggler {
        margin-left: 0 !important;
        padding: 0;
        box-shadow: none !important;
        border: none !important;


    }

    /* Logo */
    .navbar-brand {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    /* Ajustar tamaño del logo */
    .navbar-brand img {
        width: 100PX;
        height: auto;
        margin-left: 0 !important;
        padding: 0 !important;
    }

    /* Menú de navegación */
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        width: 10% !important;


    }

    a.nav-link {
        margin-bottom: .5rem;
        width: 100% !important;
        padding-top: .5rem;
        background-color: transparent !important;
    }

    a.nav-link:hover {
        background: rgba(231, 233, 238, 0.555) !important;
        color: white;
    }

    /* Estilos para el nombre de usuario en pantalla pequeña */
    #username-small {
        margin: .5rem;
        color: #ffffff;
        text-align: left;
        padding: .1rem;
        border-radius: .5rem;

    }
}
